.col-sm-2 sidenav {
     padding-top: 20px;
     background-color: #f1f1f1;
     height: 100%;
   }

.container {
     margin-bottom: 70px;
     margin-top: 40px;
}

#myCarousel {
    margin-bottom: 35px;
    }

.row {
     text-align: left;
}

