.col-sm-2 sidenav {
     padding-top: 20px;
     background-color: #f1f1f1;
     height: 100%;
   }

.container {
     margin-bottom: 70px;
     margin-top: 100px;
}

#myCarousel {
    margin-bottom: 35px;
    }

.Abstand {
     margin-bottom: 40px;
}

.Abstand1 {
     margin-bottom: 50px;
}

span {
     font-weight: bold;
}

h2 {
     font-size: 40px;
}
