body {
     background-color:#E7D8E6;
}

.row {
     margin-bottom: 40px;
}

h1 {
     font-size: 25px;
}

#Sheldon {
     margin-top: 15px;
}

#Leonard {
     margin-top: 15px;
}

#Penny {
     margin-top: 15px;    
}

#Howard {
     margin-top: 15px;
}

#Rajesh {
    margin-top: 15px; 
}

#Amy {
     margin-top: 15px;
}

#Bernadette {
     margin-top: 15px;
}
